# Don't track contents of these folders and/or files:


slides-printer-friendly.zip


*/__MACOSX/*
Pokemon/__MACOSX
Pokemon/__MACOSX/._pokemondata.txt
PurrfectMatch/__MACOSX/._PurrfectMatch
PurrfectMatch/__MACOSX/PurrfectMatch/._app.css
PurrfectMatch/__MACOSX/PurrfectMatch/._index.html
CSS/09-Selector-Exercise-Starter/__MACOSX/._09_Selector_Exercise_Starter
CSS/09-Selector-Exercise-Starter/__MACOSX/09_Selector_Exercise_Starter/._selectors.css
CSS/09-Selector-Exercise-Starter/__MACOSX/09_Selector_Exercise_Starter/._selectorsExercise.html
